body {
  background: linear-gradient(#2c2d34, #000000, #2c2d34);
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

button .nav-link {
  color: #e95864 !important;
  padding: 0px !important;
  font-size: 1.5rem;
}

strong {
  color: #e74250;
  font-size: 6rem;
}

h2.titulo {
  opacity: 50%;
  font-size: 4rem;
}

h2 {
  font-size: 4rem;
  border-bottom: #d82148;
}

h1,
h2 {
  font-weight: 700;
  letter-spacing: 1px;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.navbar .nav-link {
  letter-spacing: 1px;
  font-size: 16px;
}

.navbar {
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

.navbar-dark .navbar-nav .nav-link.active {
  color: rgb(90, 203, 238);
}

#inicio {
  background: linear-gradient(#10162e, #151d3b);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.about-me {
  border-left: 4px solid #d82148;
  padding: 5%;
}

.habilidades .container {
  border-radius: 15px;
  padding-top: 3%;
  padding-bottom: 1%;
}

li {
  list-style-type: none;
}

.progress_bar {
  padding: 50px 0px;
}

.progress_bar ul li {
  padding: 10px 30px;
}

.bar {
  height: 6px;
  background: #2c2d3479;
  border-radius: 5px;
}

.bar span {
  height: 6px;
  float: left;
  border-radius: 5px;
}

.ingles,
.aleman,
.español,
.japones {
  background: linear-gradient(to right, #151d3b, #d82148);
}

.ingles {
  width: 85%;
  animation: ingles 3s;
}

@keyframes ingles {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}

.español {
  width: 100%;
  animation: español 3s;
}

@keyframes español {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.aleman {
  width: 40%;
  animation: aleman 3s;
}

@keyframes aleman {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}

.japones {
  width: 40%;
  animation: japones 3s;
}

@keyframes japones {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}

.form-control {
  border: 0;
  background: #9456db11;
  color: rgb(228, 212, 212);
}

.img-footer {
  width: 35px;
}

.footer {
  text-transform: uppercase;
  font-size: 10px;
}

.descripcion-proyecto {
  background: white;
  color: #151d3b;
  padding: 3%;
}

.imagen-proyecto {
  background: #000000;
}

.proyecto-1 .descripcion-proyecto,
.proyecto-2 .imagen-proyecto {
  border-radius: 15px 0 0 15px;
}

.proyecto-1 .imagen-proyecto,
.proyecto-2 .descripcion-proyecto {
  border-radius: 0 15px 15px 0;
}

.imagen-proyecto img {
  max-width: 100%;
}

.envoltorio-proyecto {
  min-height: 500px;
}
